# Core
langchain==1.2.13
langchain-community==0.4.1
langchain-core==1.2.23
langchain-openai==1.1.12

# Vector DB
faiss-cpu==1.8.0

# PDF parsing
pypdf==4.2.0

# Text splitting
tiktoken==0.7.0

# OpenAI
openai==2.30.0

# Utils
numpy==1.26.4
python-dotenv==1.2.2

# Data processing
pandas==3.0.1
openpyxl==3.1.5
SQLAlchemy==2.0.48

# API (for Vercel)
fastapi==0.115.8
uvicorn==0.34.0